<rule name="RedirectToDutchHomepage" enabled="true" stopProcessing="true">
          <match url="^$"></match>
          <conditions>
            <add input="{HTTP_ACCEPT_LANGUAGE}" pattern="^nl"></add>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/nl/"></action>
        </rule>
        <rule name="RedirectToFrenchHomepage" enabled="true" stopProcessing="true">
          <match url="^$"></match>
          <conditions>
            <add input="{HTTP_ACCEPT_LANGUAGE}" pattern="^fr"></add>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/fr/"></action>
        </rule>
        <rule name="RedirectToGermanHomepage" enabled="true" stopProcessing="true">
          <match url="^$"></match>
          <conditions>
            <add input="{HTTP_ACCEPT_LANGUAGE}" pattern="^de"></add>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/de/"></action>
        </rule>
        <rule name="RedirectToEnglishHomepage" enabled="true" stopProcessing="true">
          <match url="^$"></match>         
          <action type="Redirect" url="https://{HTTP_HOST}/en/"></action>
        </rule>
